div.site-alert {
  width: 100%;
  font-weight: bold;
  position: relative;
}

div.site-alert div.text {
  padding: 10px 60px;
  margin: 0px;
  font-size: 18px;
}

div.site-alert div.info {
  background: #d9edf7;
  border: 1px solid #bce8f1;
  color: #31708f;
  background-image: url('icon-alert.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div.site-alert div.low {
  background: #f3eaac;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  background-image: url('icon-alert.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div.site-alert div.high {
  background: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
  background-image: url('icon-alert.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div.site-alert span.site-alert-close {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>') center center no-repeat;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  text-indent: -1000em;
}

div#edit-alerts-start.date-padding {
  padding: 0px;
}

div#edit-alerts-expire.date-padding {
  padding: 0px;
}
