div.site-alert {
  width: 100%;
  font-weight: bold;
}

div.site-alert div.text {
  padding: 10px 10px 10px 45px;
  margin: 0px;
  font-size: 18px;
}

div.site-alert div.low {
  background: #f3eaac;
  border: 1px solid #cc9e9f;
  background-image: url('icon-alert.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div.site-alert div.high {
  background: #edd5d6;
  border: 1px solid #b45f61;
  background-image: url('icon-alert.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div#edit-alerts-start.date-padding {
  padding: 0px;
}

div#edit-alerts-expire.date-padding {
  padding: 0px;
}
